body{
    background-image: url(../images/background.jpg);
    text-align:center;
}

#worksheet_img{
    width: 600px;
    height: 330px;
}

li {
    list-style-type: none;
}
ul {
    padding-left: 0; 
}

.other_pages{
    margin:20px;
}

.worksheet{
    width: 600px;
    display: inline-block;
}

#buttons{
    height: 100%;
    width: 40px;
    display: inline-block;
}

button{
    background:transparent;
    padding: 0px;
    border: none;
    padding-right: 200px;
}

.button_img{
    height: 40px;
    width: 40px;
}

#logo , #proj_name_line, #auth_block{
    display: inline-block;
}

#logo_img, #logo_link{
    height:70px;
    width:70px;
}

#logo_link{
    padding-right: 5%;
}

#auth_block{
    padding-left: 5%;;
}

.auth_buttons{
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    border-radius:30px;
    font-weight:900;
}

a{
    color:black;
     text-decoration: none;
}

.control_block{
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    border-radius:30px;
    /*display: inline-block;*/
    font-weight:900;
}

.form_button{
    font-size: 100%;
}

input{
    margin: 1px;
    padding: 10px;
    border: 3px solid black;
    border-radius:30px;
    display: inline-block;
}

#proj_name_line{
    font-size:330%;
    max-width: 100%;
    word-wrap: break-word;
}
/*.other_pages{}*/